@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
}

.bg-img{
    background : linear-gradient(blue,pink);
    height: 100vh;
    text-align: center;
    color: #161A30;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
      display: flex;
}

.content header{
    color: #000080;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
}

.content p{
    color: #6B240C;
    font-size: 29px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
}

.box-left{
    flex: 1;
    text-align: center;
    padding: 90px 60px;
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #711DB0;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
    margin: 10px;
}

.box-right {
    flex: 1;
    text-align: center;
    padding: 90px 60px;
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #711DB0;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
    margin: 10px;
}

.btn,btns{
    border: none;
    border-radius: 5px;
    padding: 10px 31px;
    background-color: #fffffff5;
    color: blue;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 4px 2px;
}

.btn1 {
    border: none;
    background-color: white;
    color: #FF6633;
}

.btn1:hover {
    background-color: #000000;
    color: white;
}

.btn2 {
    border: none;
    background-color: white;
    color: #0000CD;
}

.btn2:hover {
    background-color: #000000;
    color: white;
}

.btn3 {
    border: none;
    background-color: white;
    color: #49108B;
}

.btn3:hover {
    background-color: #000000;
    color: white;
}

.btn4 {
    border: none;
    background-color: white;
    color: #2D9596;
}

.btn4:hover {
    background-color: #000000;
    color: white;
}

.btn5 {
    border: none;
    background-color: white;
    color: #FF90BC;
}

.btn5:hover {
    background-color: #000000;
    color: white;
}